body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
.visibility-hidden
{
   visibility: hidden;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
{
   #PanelLayer
   {
      background-attachment: scroll !important;
   }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5)
{
   #PanelLayer
   {
      background-attachment: scroll !important;
   }
}
#wb_welcome
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url('../images/pixabay001.jpg');
   background-repeat: no-repeat;
   background-position: center top;
   background-attachment: scroll;
   background-size: 100% 100%;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#welcome
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 50px 0 130px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#welcome > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#welcome > .col-1
{
   flex: 0 0 auto;
}
#welcome > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#welcome > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#welcome-divider-bottom
{
   overflow: hidden;
   position: absolute;
   line-height: 0;
   bottom: 0%;
   left: 0;
   width: 100%;
   height: 60px;
}
#welcome-divider-bottom svg
{
   display: block;
   width: 100%;
   height: 100%;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
}
#welcome-divider-bottom .divider-fill
{
   fill: #FFFFFF;
   transform-origin: bottom;
   transform: rotateY(0deg);
}
.wave-animated > use
{
   animation: move-wave 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.wave-animated > use:nth-child(1)
{
   animation-delay: -2s;
   animation-duration: 7s;
}
.wave-animated > use:nth-child(2)
{
   animation-delay: -3s;
   animation-duration: 10s;
}
.wave-animated > use:nth-child(3)
{
   animation-delay: -4s;
   animation-duration: 13s;
}
.wave-animated > use:nth-child(4)
{
   animation-delay: -5s;
   animation-duration: 20s;
}
@keyframes move-wave
{
   0%
   {
      transform: scale(1.0,0.5) translate3d(-90px,0,0);
   }
   50%
   {
      transform: scale(1.0,1.0) translate3d(0px,0,0);
   }
   100%
   {
      transform: scale(1.0,0.5) translate3d(85px,0,0);
   }
}
#wb_welcomeText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 75px 50px 75px 50px;
   margin: 0;
   text-align: center;
}
#wb_welcomeText
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: 400;
   font-size: 48px;
   line-height: 53.5px;
}
#wb_welcomeText p, #wb_welcomeText ul
{
   margin: 0;
   padding: 0;
}
#wb_welcomeText
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_blog
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#blog
{
   box-sizing: border-box;
   padding: 80px 15px 40px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#blog > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#blog > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#blog > .row > .col-1
{
   float: left;
}
#blog > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#blog > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#blog:before,
#blog:after,
#blog .row:before,
#blog .row:after
{
   display: table;
   content: " ";
}
#blog:after,
#blog .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#blog > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#blog-divider-top
{
   overflow: hidden;
   position: absolute;
   top: 0%;
   width: 100%;
   height: 0px;
   line-height: 0;
   left: 0;
   transform: scaleY(-1.0);
   transition: height 2000ms ease;
}
#blog-divider-top svg
{
   display: block;
   width: 100%;
   height: 100%;
   position: relative;
   left: 50%;
   top: 0;
   transform: translateX(-50%);
}
#blog-divider-top .divider-fill
{
   fill: #000000;
   transform-origin: bottom;
   transform: rotateY(0deg);
}
#blog-divider-top.show
{
   height: 80px;
}
#menuLayer
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
   opacity: 0.77;
}
#wb_menuPanel a, #menuPanel_markup li a
{
   display: block;
   text-align: center;
   vertical-align: middle;
}
#menuPanel_markup
{
   display: none;
   margin: 0;
   padding: 75px 0 0 0;
}
#menuPanel_panel #menuPanel_markup
{
   display: block;
}
#menuPanel_markup ul
{
   list-style: none;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#menuPanel_markup li a, #menuPanel_markup li a:hover
{
   padding: 10px 10px 10px 10px;
   box-shadow: none;
}
#menuPanel_markup .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #2E2E2E;
}
#menuPanel_panel
{
   display: none;
   position: fixed;
   top: 0;
   height: 100%;
   width: 250px;
   z-index: 9999;
}
#wb_menuPanel a
{
   color: #F7F7F7;
   border: 1px solid #FF8000;
   border-radius: 0px;
   background-color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   text-align: center;
}
#wb_menuPanel a:hover
{
   color: #F7F7F7;
   background-color: #FF8000;
   border: 1px solid #FF8000;
}
#menuPanel .line
{
   width: 16px;
   height: 3px;
   background: #F7F7F7;
   display: block;
   margin: 3px auto;
   transition: all 0.3s ease-in-out;
}
#menuPanel .line:first-child
{
   margin-top: 16px;
}
#menuPanel.open .line:nth-child(1)
{
   transform: translateY(6px) rotate(45deg);
}
#menuPanel.open .line:nth-child(2)
{
   opacity: 0;
}
#menuPanel.open .line:nth-child(3)
{
   transform: translateY(-6px) rotate(-45deg);
}
#menuPanel
{
   line-height: 48px;
   width: 48px;
   height: 48px;
   position: absolute;
   z-index: 999;
}
#menuPanel-close
{
   display: none;
   text-align: right;
}
#menuPanel-close a
{
   color: #F7F7F7;
   display: inline-block;
   font-size: 32px;
   font-weight: bold;
   padding: 5px 10px 5px 10px;
   text-decoration: none;
}
#menuPanel-close a:hover
{
   color: #F7F7F7;
}
@media all and (max-width:320px) 
{
#menuPanel_panel
{
   width: 100%;
}
body
{
   margin-left: 0 !important;
}
#menuPanel-close
{
   display: block;
}
}
#upStickyLayer
{
   background-color: #3E3E3E;
   background-image: none;
   border-radius: 0px;
   opacity: 0.77;
}
#wb_upIcon
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_upIcon a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#upIcon
{
   height: 24px;
   width: 24px;
}
#upIcon i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
   width: 23px;
}
#wb_upIcon:hover #upIcon i
{
   color: #FFFFFF;
}
#wb_blogHeading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: center;
}
#blogHeading
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#PanelLayer
{
   padding: 0;
}
#PanelLayer_panel
{
   background-color: transparent;
   background-image: url('../pexels006.jpeg');
   background-repeat: no-repeat;
   background-position: center top;
   background-attachment: scroll;
   background-size: cover;
   border-radius: 0px;
   display: none;
   position: fixed;
   top: 0;
   height: 100%;
   width: 306px;
   z-index: 9999;
}
@media only screen and (max-width:480px) 
{
#PanelLayer
{
   width: 100% !important;
}
#PanelLayer_panel
{
   width: 100% !important;
}
body
{
   margin-left: 0 !important;
}
}
#wb_IconFont2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 6px 6px 6px 6px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#IconFont2
{
   height: 30px;
   width: 30px;
}
#IconFont2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 29px;
}
#wb_IconFont2:hover #IconFont2 i
{
   color: #DCDCDC;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0 15px 10px 15px;
   text-align: left;
}
#Heading3
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#wb_OverlayMenu2
{
   position: relative;
   border: 0px solid #424242;
   border-radius: 0px;
   margin: 15px 0 15px 0 ;
}
#wb_OverlayMenu2
{
   background-color: rgba(122,122,122,0.00);
}
#wb_OverlayMenu2 ul
{
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   list-style: none;
   margin: 0;
   padding: 0;
}
.OverlayMenu2 a
{
   text-decoration: none;
}
.OverlayMenu2 ul
{
   list-style: none;
   padding: 0;
   text-align: left;
}
.OverlayMenu2 li
{
   position: relative;
}
.OverlayMenu2 li a
{
   display: block;
   position: relative;
   padding: 10px 15px 10px 15px;
   color: #FFFFFF;
   outline: none;
}
.OverlayMenu2 li a:hover
{
   color: #424242;
   background-color: rgba(204,204,204,0.00);
}
.OverlayMenu2 .sub-menu
{
   padding-top: 0;
   padding-left: 15px !important;
   display: none;
}
.OverlayMenu2 .item-has-children > a 
{
   position: relative;
}
.OverlayMenu2 .item-has-children > a::after
{
   background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228%22%20height%3D%2211%22%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M8%205.5L1.9%2011%20.1%209.4l4.3-3.8L.1%201.8%202%20.1l6%205.4%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat center center;
   background-size: 8px 11px;
   bottom: auto;
   content: "";
   display: block;
   height: 11px;
   position: absolute;
   right: 1em;
   top: 50%;
   width: 8px;
   transform: translateY(-50%);
}
.OverlayMenu2 .item-has-children > a.submenu-open::after
{
   transform: translateY(-50%) rotate(90deg);
}
.OverlayMenu2 .item-has-children > a:hover::after
{
   background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228%22%20height%3D%2211%22%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath%20fill%3D%22%23424242%22%20d%3D%22M8%205.5L1.9%2011%20.1%209.4l4.3-3.8L.1%201.8%202%20.1l6%205.4%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat center center;
}
#wb_OverlayMenu2 .overlay-icon
{
   margin: 0 10px 0 0 ;
   fill: currentColor;
   width: 16px;
   height: 16px;
}
.OverlayMenu2-effect
{
   transition: all 500ms linear;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#Button1
{
   box-sizing: border-box;
   line-height: 48px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #000000;
   border-radius: 4px;
   background-image: linear-gradient(to top, #FFD700 0%, #FFA500 100%);
   color: #000000;
   box-shadow: 0px 0px 1px #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
}
#Button1:focus
{
   outline: 0;
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 450px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading1
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading2
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#wb_LayoutGrid9
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #262626;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid9
{
   box-sizing: border-box;
   padding: 25px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid9 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid9 > .row > .col-1, #LayoutGrid9 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid9 > .row > .col-1, #LayoutGrid9 > .row > .col-2
{
   float: left;
}
#LayoutGrid9 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: center;
}
#LayoutGrid9 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: center;
}
#LayoutGrid9:before,
#LayoutGrid9:after,
#LayoutGrid9 .row:before,
#LayoutGrid9 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid9:after,
#LayoutGrid9 .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#LayoutGrid9 > .row > .col-1, #LayoutGrid9 > .row > .col-2
{
   float: none;
   width: 100%;
}
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 5px 0 5px 0;
   margin: 0;
   text-align: center;
}
#wb_Text8 div
{
   text-align: center;
}
#wb_Text8
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_FontAwesomeIcon6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0 10px 0 0 ;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon6 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#FontAwesomeIcon6
{
   height: 22px;
   width: 22px;
}
#FontAwesomeIcon6 i
{
   color: #FFD700;
   display: inline-block;
   font-size: 22px;
   line-height: 22px;
   vertical-align: middle;
   width: 21px;
}
#wb_FontAwesomeIcon6:hover #FontAwesomeIcon6 i
{
   color: #FFFFFF;
}
#wb_FontAwesomeIcon9
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0 10px 0 0 ;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon9 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#FontAwesomeIcon9
{
   height: 22px;
   width: 22px;
}
#FontAwesomeIcon9 i
{
   color: #FFD700;
   display: inline-block;
   font-size: 22px;
   line-height: 22px;
   vertical-align: middle;
   width: 21px;
}
#wb_FontAwesomeIcon9:hover #FontAwesomeIcon9 i
{
   color: #FFFFFF;
}
#Label4
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #FFD700;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   margin: 0;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label4:focus
{
   outline: 0;
}
#wb_OverlayMenu2
{
   display: inline-block;
   width: 100%;
   z-index: 11;
}
#wb_Image1
{
   display: inline-block;
   width: 100%;
   height: auto;
   z-index: 3;
}
#PanelLayer
{
   text-align: right;
}
#wb_upIcon
{
   position: absolute;
   left: 9px;
   top: 8px;
   width: 24px;
   height: 24px;
   text-align: center;
   z-index: 8;
}
#Button1
{
   display: inline-block;
   width: 198px;
   height: 52px;
   z-index: 6;
}
#wb_blogHeading
{
   display: inline-block;
   width: 100%;
   z-index: 1;
}
#wb_menuPanel
{
   position: absolute;
   left: 9px;
   top: 12px;
   width: 48px;
   height: 48px;
   text-align: center;
   z-index: 7;
}
#wb_FontAwesomeIcon9
{
   display: inline-block;
   width: 22px;
   height: 22px;
   text-align: center;
   z-index: 15;
}
#wb_Heading2
{
   display: inline-block;
   width: 100%;
   z-index: 5;
}
#wb_Heading3
{
   display: inline-block;
   width: 100%;
   z-index: 10;
}
#wb_IconFont2
{
   display: inline-block;
   width: 30px;
   height: 30px;
   text-align: center;
   z-index: 9;
}
#menuLayer
{
   position: fixed;
   text-align: left;
   left: auto;
   right: 0px;
   top: 0px;
   width: 71px;
   height: 74px;
   z-index: 18;
   z-index: 11111;
}
#wb_FontAwesomeIcon6
{
   display: inline-block;
   width: 22px;
   height: 22px;
   text-align: center;
   z-index: 14;
}
#Label4
{
   display: inline-block;
   width: 76px;
   line-height: 16px;
   z-index: 13;
}
#wb_Heading1
{
   display: inline-block;
   width: 100%;
   z-index: 4;
}
#upStickyLayer
{
   position: fixed;
   text-align: left;
   left: auto;
   right: 11px;
   top: auto;
   bottom: 11px;
   width: 50px;
   height: 50px;
   z-index: 19;
}
@media only screen and (max-width: 969px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_welcome
{
   visibility: visible;
   display: table;
}
#wb_welcome
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#welcome
{
   height: auto;
   padding: 50px 0 130px 0;
}
#welcome-divider-bottom
{
   height: 60px;
}
#welcome-divider-bottom
{
   bottom: 0%;
}
#wb_welcomeText
{
   visibility: visible;
   display: block;
}
#wb_welcomeText
{
   margin: 0;
   padding: 75px 50px 75px 50px;
}
#wb_blog
{
   visibility: visible;
   display: table;
}
#wb_blog
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#blog
{
   height: auto;
   padding: 80px 15px 40px 15px;
}
#blog .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#blog-divider-top.show
{
   height: 80px;
}
#blog-divider-top
{
   top: 0%;
   left: 0;
}
#menuLayer
{
   width: 71px;
   height: 74px;
   visibility: visible;
   display: block;
}
#wb_menuPanel
{
   left: 9px;
   top: 12px;
   width: 48px;
   height: 48px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#menuPanel
{
   line-height: 48px;
   width: 48px;
   height: 48px;
}
#menuPanel .line:first-child
{
   margin-top: 16px;
}
#wb_menuPanel a
{
   color: #F7F7F7;
   border: 1px solid #FF8000;
   border-radius: 0px;
   background-color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   text-align: center;
}
#wb_menuPanel a:hover
{
   color: #F7F7F7;
   background-color: #FF8000;
   border: 1px solid #FF8000;
}
#upStickyLayer
{
   width: 50px;
   height: 50px;
   visibility: visible;
   display: block;
}
#wb_upIcon
{
   left: 9px;
   top: 8px;
   width: 24px;
   height: 24px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 4px 4px 4px 4px;
}
#upIcon
{
   width: 24px;
   height: 24px;
}
#upIcon i
{
   line-height: 24px;
   font-size: 24px;
   width: 23px;
}
#wb_blogHeading
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#PanelLayer
{
   left: 1000px;
   top: 372px;
   width: 306px;
}
#PanelLayer
{
   padding: 0;
}
#wb_IconFont2
{
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 6px 6px 6px 6px;
}
#IconFont2
{
   width: 30px;
   height: 30px;
}
#IconFont2 i
{
   line-height: 30px;
   font-size: 30px;
   width: 29px;
}
#wb_Heading3
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0 15px 10px 15px;
}
#wb_OverlayMenu2
{
   width: 306px;
   height: 149px;
   visibility: visible;
   display: inline-block;
   margin: 15px 0 15px 0 ;
}
#OverlayMenu2-overlay ul
{
   font-size: 16px;
   text-align: left;
}
#wb_Text1
{
   visibility: visible;
   display: block;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#Button1
{
   width: 198px;
   height: 52px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 1px 6px 1px 6px;
}
#Button1
{
   line-height: 48px;
}
#wb_Image1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_Heading1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_Heading2
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid9
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid9
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid9
{
   height: auto;
   padding: 25px 15px 25px 15px;
}
#LayoutGrid9 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid9 > .row > .col-1, #LayoutGrid9 > .row > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid9 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#LayoutGrid9 > .row > .col-2
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_Text8
{
   visibility: visible;
   display: block;
}
#wb_Text8
{
   margin: 0;
   padding: 5px 0 5px 0;
}
#wb_FontAwesomeIcon6
{
   width: 22px;
   height: 22px;
   visibility: visible;
   display: inline-block;
   margin: 0 10px 0 0 ;
   padding: 0;
}
#FontAwesomeIcon6
{
   width: 22px;
   height: 22px;
}
#FontAwesomeIcon6 i
{
   line-height: 22px;
   font-size: 22px;
   width: 21px;
}
#wb_FontAwesomeIcon9
{
   width: 22px;
   height: 22px;
   visibility: visible;
   display: inline-block;
   margin: 0 10px 0 0 ;
   padding: 0;
}
#FontAwesomeIcon9
{
   width: 22px;
   height: 22px;
}
#FontAwesomeIcon9 i
{
   line-height: 22px;
   font-size: 22px;
   width: 21px;
}
#Label4
{
   width: 76px;
   height: 24px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Label4
{
   line-height: 16px;
}
}
